TELEGRAM_BOT_USERNAME=titanstream_bot

# Pesapal v3 Sandbox / Production Infrastructure Configuration
PESAPAL_ENVIRONMENT=sandbox
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_BASE_URL=https://cybqa.pesapal.com/pesapalv3
PESAPAL_IPN_ID=
PESAPAL_CALLBACK_URL=

